@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background-color: white;
    
}
.header{
    background-color: red;
}


<<<<<<< HEAD
.footer {
    display: flex;
    justify-content: space-between;
    background-color: peachpuff;;
    color: #793b51;
    padding: 10px;
    flex-wrap: wrap;
    gap: 15px;
=======
  html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    min-height: 100%;
    position: relative;
  }
  
  footer {
    position: absolute;
>>>>>>> feature/footer
    bottom: 0;
    width: 100%;
  }
  
  